<div class="container-fluid">
  <div class="row">

    <div class="addd">
      <img src="../../../assets/logo/add.svg" alt="">
    </div>
    <div class="col-12  ps-0">
      <div class="ml-48 mt-32 mr-48 mt-32">

        <div class="row">
          <div class="col">
            <h5 class="text-center pd-16">Week 47</h5>
          </div>
        </div>

        <div class="row">
          <div class="text pd-32">
            Week Total: <div class="text-bold"> 32:00h
              <div class="dropdown">
                <button class="btn btn-background dropdown-toggle ps-0" type="button" id="dropdownMenuButton"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="../../../assets/logo/dropdown_dayview.svg" height="17px" alt=""> Day view
                </button>
                <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="../calendarview/calendarview.component.html"
                      [routerLink]="'/month'"><img src="../../../assets/logo/dropdown_monthview.svg" alt="">
                      Month view</a></li>

                </ul>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="text pd-32">
            <div class="text-bold"> December 2023</div>
          </div>
        </div>

        <!-- date-carousel -->


        <div id="carouselExampleControls" class="carousel carousel-dark slide pd-24">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="card-wrapper container-sm d-flex justify-content-around">
                <div class="card border-0" style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">01<br>Mo</span>
                  </div>
                </div>
                <div class="card border-0" style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">02<br>Tu</span>
                  </div>
                </div>
                <div class="card border-0" style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">03<br>We</span>
                  </div>
                </div>
                <div class="card border-0" style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">04<br>Th</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card-wrapper container-sm d-flex   justify-content-around">
                <div class="card border-0  " style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">05<br>Fr</span>
                  </div>
                </div>
                <div class="card border-0" style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">06<br>Sa</span>
                  </div>
                </div>
                <div class="card border-0" style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">07<br>Su</span>
                  </div>
                </div>
                <div class="card border-0" style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">08<br>Mo</span>
                  </div>
                </div>
                <div class="card border-0" style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">09<br>Tu</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card-wrapper container-sm d-flex  justify-content-around">
                <div class="card border-0 " style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">10<br>We</span>
                  </div>
                </div>
                <div class="card border-0 " style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">11<br>Th</span>
                  </div>
                </div>
                <div class="card border-0 " style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">12<br>Fr</span>
                  </div>
                </div>
                <div class="card border-0" style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">13<br>Sa</span>
                  </div>
                </div>
                <div class="card border-0" style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">14<br>Su</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card-wrapper container-sm d-flex  justify-content-around">
                <div class="card border-0 " style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">15<br>Mo</span>
                  </div>
                </div>
                <div class="card border-0 " style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">16<br>Tu</span>
                  </div>
                </div>
                <div class="card border-0 " style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">17<br>We</span>
                  </div>
                </div>
                <div class="card border-0" style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">18<br>Th</span>
                  </div>
                </div>
                <div class="card border-0" style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">19<br>Fr</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="card-wrapper container-sm d-flex  justify-content-around">
                <div class="card border-0 " style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">20<br>Sa</span>
                  </div>
                </div>
                <div class="card border-0 " style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">21<br>Su</span>
                  </div>
                </div>
                <div class="card border-0 " style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">22<br>Mo</span>
                  </div>
                </div>
                <div class="card border-0" style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <div class="content ">
                      <span class="card-title">23<br>Tu</span>
                      <img src="../../../assets/logo/yellowdot.svg" alt="">
                    </div>
                  </div>
                </div>
                <div class="card border-0" style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <div class="content">
                      <span class="card-title">24<br>We</span>
                      <img src="../../../assets/logo/yellowdot.svg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card-wrapper container-sm d-flex  justify-content-around">
                <div class="card border-0 " style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">25<br>Th</span>
                  </div>
                </div>
                <div class="card border-0 " style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">26<br>Fr</span>
                  </div>
                </div>
                <div class="card border-0 " style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">27<br>Sa</span>
                  </div>
                </div>
                <div class="card border-0" style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">28<br>Su</span>
                  </div>
                </div>
                <div class="card border-0" style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">29<br>Mo</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card-wrapper container-sm d-flex  justify-content-around">
                <div class="card border-0 " style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title ">30<br>Tu</span>
                  </div>
                </div>
                <div class="card border-0" style="width: 3.378rem; height:3.438rem">
                  <div class="card-body-1">
                    <span class="card-title">31<br>We</span>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <button class="carousel-control-prev left-neg49 carousel-btn-back" type="button"
            data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon carousel-btn " aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next right" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon carousel-btn" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>



        <div class="problem ">
          <div class="textproblem "><img src="../../../assets/images/warning.svg" alt="">
            <p>Incomplete registrations : 1</p>
          </div>
        </div>

        <div class="events pt-24">

          <div class="card text-custom bord-left mt-2 mb-2">
            <div class="card-body ">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h5 class="card-title mb-0 fs-14"><b>13:00 - 14:15</b></h5>
                  <p class="card-text first mb-0 fs-14">Missing Information</p>
                </div>
                <div>
                  <a class="nav-link d-inline fs-16">
                    <img src="../../../assets/images/warning.svg" alt="">
                  </a>
                  <span class="fs-14"><b>01:24</b></span>
                </div>
              </div>
            </div>
          </div>
          <div class="card text-custom mb-2">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h5 class="card-title fs-14"><b>12:10 - 12:58 / 15:40 - 16:00</b></h5>
                  <p class="card-text mb-0 fs-14">13446 - O. Jeppesen</p>
                  <p class="card-text fs-14">Court Hearing - Being present at c...</p>
                  <a class="nav-link d-inline fs-16"><img src="../../../assets/images/add.svg" alt="">
                    2
                    registrations</a>
                </div>
                <div>
                  <p class="fs-14"><b>01:58</b>
                </div>
              </div>
            </div>
          </div>

          <div class="card  text-custom mb-2">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h5 class="card-title mb-0 fs-14"><b>12:10 - 12:58</b></h5>
                  <p class="card-text mb-0 fs-14">13446 - O. Jeppesen</p>
                  <p class="card-text fs-14">Court Hearing - Being present at c...</p>
                </div>
                <div>
                  <p class="fs-14"><b>02:08</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal " tabindex="-1" id="notificationModal" style="width: 30% ;top: 13px;
              left: 318px;;">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content rounded-0">
              <div class="modal-header border-bottom-0">
                <div>
                  <h5 class="modal-title fs-16">Notification</h5>
                  <a class="nav-link modal-title fs-14 mt-2 text-primary " href="#">Mark all as
                    read (3)</a>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

              </div>
              <div class="modal-body today">
                <h5 class="modal-title fs-14">Today</h5>
                <div class="bg-body-tertiary mt-2">
                  <ul>
                    <li>
                      <p class="modal-title fs-16">Overdue Registration - <span class="text-secondary">CK324</span>
                      </p>
                      <p class="modal-title fs-14 text-secondary mt-2">A time registration
                        made on 23.11.2023 needs to be registered</p>
                      <a href="#" class="nav-link d-inline fs-14 text-primary">view</a><a href="#"
                        class="nav-link d-inline fs-14 text-primary ms-2"><i class="bi bi-box-arrow-up-right"></i></a>
                    </li>
                  </ul>
                </div>
                <hr>
                <h5 class="modal-title fs-14">23.11.2023</h5>
                <div class="mt-2 other-date">
                  <ul>
                    <li>
                      <p class="modal-title fs-16">Overdue Registration - <span class="text-secondary">CP424</span>
                      </p>
                      <p class="modal-title fs-14 text-secondary mt-2">A time registration
                        registered as a draft on
                        29.11.2023 needs to have its information added</p>
                      <a href="#" class="nav-link d-inline fs-14 text-primary">view</a><a href="#"
                        class="nav-link d-inline fs-14 text-primary ms-2"><i class="bi bi-box-arrow-up-right"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="mt-2 other-date">
                  <ul>
                    <li>
                      <p class="modal-title fs-16">Overdue Registration - <span class="text-secondary">KP464</span>
                      </p>
                      <p class="modal-title fs-14 text-secondary mt-2">A time registration
                        registered as a draft on
                        28.11.2023 needs to have its information added</p>
                      <a href="#" class="nav-link d-inline fs-14 text-primary">view</a><a href="#"
                        class="nav-link d-inline fs-14 text-primary ms-2"><i class="bi bi-box-arrow-up-right"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>



            <!-- <div class="modal-body">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae aut cupiditate, magni vero, vel velit laudantium ullam non neque, provident expedita delectus aliquid nesciunt. Tempora fuga iste libero temporibus soluta hic! Illo.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>