<div class="ml-48 mt-32">
    <div class="row">
        <div class="col text-center fs-12">
            <span class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    December 2023
                </a>
                <ul class="dropdown-menu rounded-0 " style="width: 200px;">
                    <div class="dropdown-item w-100">
                        <div class="row">
                            <div class="col">2023</div>
                            <div class="col text-end"><i class="bi bi-chevron-left"></i><i
                                    class="bi bi-chevron-right"></i></div>
                        </div>
                        <ul class="nav justify-content-between mt-2">
                            <li class="nav-item fs-14">Jan</li>
                            <li class="nav-item fs-14">Feb</li>
                            <li class="nav-item fs-14">Mar</li>
                        </ul>
                        <ul class="nav justify-content-between mt-2">
                            <li class="nav-item fs-14">Apr</li>
                            <li class="nav-item fs-14">May</li>
                            <li class="nav-item fs-14">Jun</li>
                        </ul>
                        <ul class="nav justify-content-between mt-2">
                            <li class="nav-item fs-14">Jul</li>
                            <li class="nav-item fs-14">Aug</li>
                            <li class="nav-item fs-14">Sep</li>
                        </ul>
                        <ul class="nav justify-content-between mt-2">
                            <li class="nav-item fs-14">Oct</li>
                            <li class="nav-item fs-14">Nov</li>
                            <li class="nav-item fs-14">Dec</li>
                        </ul>
                    </div>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><button class="btn">cancel</button> <button class="btn ms-5">Ok</button></li>
                </ul>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row silver-card mt-2 rounded-1 shadow-sm">
                <div class="col">
                    <div class="mt-2">
                        <H3>Total Hours December</H3>
                        <div class="row">
                            <div class="col-7">
                                <h4 class="d-inline fw-bold">116,30 </h4><span>/240</span>
                            </div>
                            <div class="col-4 pt-2">
                                <div class="progress h-25 bg-transparent border border-black " role="progressbar"
                                    aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar bg-dark" style="width: 50%"></div>
                                </div>
                            </div>
                            <div class="col-1">
                                <h6>46%</h6>
                            </div>
                        </div>
                        <!-- <hr> -->
                        <div class="row mt-2">
                            <div class="col fs-14 text-secondary">
                                <p>Billable Hours</p>
                            </div>
                            <div class="col text-end "> 116,30</div>
                        </div>

                        <div class="row">
                            <div class="col  fs-14 text-secondary">
                                <p>Non-billable Hours</p>
                            </div>
                            <div class="col text-end"> 00,00</div>
                        </div>
                        <hr>
                        <H5>Earnings</H5>
                        <div class="row mt-2">
                            <div class="col fs-14 text-secondary">
                                <p>Billable Hours</p>
                            </div>
                            <div class="col text-end "> 25 345 DKK</div>
                        </div>

                        <div class="row">
                            <div class="col  fs-14 text-secondary">
                                <p>Non-billable Hours</p>
                            </div>
                            <div class="col text-end"> 0 DKK</div>
                        </div>
                        <hr>
                        <H5>Invoicing</H5>
                        <div class="row mt-2">
                            <div class="col fs-14 text-secondary">
                                <p>Invoiced Hours</p>
                            </div>
                            <div class="col text-end "> 100.00</div>
                        </div>

                        <div class="row">
                            <div class="col  fs-14 text-secondary">
                                <p>Uninvoiced Hours </p>
                            </div>
                            <div class="col text-end"> 16.30</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal " tabindex="-1" id="notificationModal" style="width: 30% ;top: 13px;
left: 318px;;">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content rounded-0">
                <div class="modal-header border-bottom-0">
                    <div>
                        <h5 class="modal-title fs-16">Notification</h5>
                        <a class="nav-link modal-title fs-14 mt-2 text-primary " href="#">Mark all as
                            read (3)</a>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body today">
                    <h5 class="modal-title fs-14">Today</h5>
                    <div class="bg-body-tertiary mt-2">
                        <ul>
                            <li>
                                <p class="modal-title fs-16">Overdue Registration - <span
                                        class="text-secondary">CK324</span>
                                </p>
                                <p class="modal-title fs-14 text-secondary mt-2">A time registration
                                    made on 23.11.2023 needs to be registered</p>
                                <a href="#" class="nav-link d-inline fs-14 text-primary">view</a><a href="#"
                                    class="nav-link d-inline fs-14 text-primary ms-2"><i
                                        class="bi bi-box-arrow-up-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <h5 class="modal-title fs-14">23.11.2023</h5>
                    <div class="mt-2 other-date">
                        <ul>
                            <li>
                                <p class="modal-title fs-16">Overdue Registration - <span
                                        class="text-secondary">CP424</span>
                                </p>
                                <p class="modal-title fs-14 text-secondary mt-2">A time registration
                                    registered as a draft on
                                    29.11.2023 needs to have its information added</p>
                                <a href="#" class="nav-link d-inline fs-14 text-primary">view</a><a href="#"
                                    class="nav-link d-inline fs-14 text-primary ms-2"><i
                                        class="bi bi-box-arrow-up-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="mt-2 other-date">
                        <ul>
                            <li>
                                <p class="modal-title fs-16">Overdue Registration - <span
                                        class="text-secondary">KP464</span>
                                </p>
                                <p class="modal-title fs-14 text-secondary mt-2">A time registration
                                    registered as a draft on
                                    28.11.2023 needs to have its information added</p>
                                <a href="#" class="nav-link d-inline fs-14 text-primary">view</a><a href="#"
                                    class="nav-link d-inline fs-14 text-primary ms-2"><i
                                        class="bi bi-box-arrow-up-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>



            <!-- <div class="modal-body">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae aut cupiditate, magni vero, vel velit laudantium ullam non neque, provident expedita delectus aliquid nesciunt. Tempora fuga iste libero temporibus soluta hic! Illo.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div> -->
        </div>
    </div>
</div>
<div class="row mt-3 ms-4">
    <div class="col">
        <h5>3 Months Overview</h5>
        <div class="tabs">
            <ul class="nav nav-underline d-flex justify-content-between w-100">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Hours</a>
                </li>
                <li class="nav-item snd-tabs">
                    <a class="nav-link" href="#">Earnings</a>
                </li>
                <li class="nav-item snd-tabs">
                    <a class="nav-link" href="#">Invoicing</a>
                </li>
            </ul>
        </div>
        <app-bar-chart></app-bar-chart>
    </div>
</div>