// author : vaishnav
*{
    font-family: "montserrat";
    transition: all 0.3s ease-out;
}

.carousel-inner>.card{
    padding:0;
    
}
.carousel-inner.card{
    width: 9rem;
}


.card-body-1{
    padding: 2px;
    text-align: center;
    border-style: none;
    border: none;
    
}
.card-body-1:hover{
    background-color:#F9FAFB;
    cursor: pointer;
    
}
//carousel

.carousel-btn{
    width: 24px;
    height: 24px;
    color: black;
}

.carousel-control-prev{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
//right section heading
.text-bold{
    font-weight: bold;
    font-size: 16px;
    display: inline;
}
.text-center{
    font-weight: 800;
    font-size: 18px;
}


.problem{
    background: rgb(90.2%,72.9%,48.2%,0.2);
    height: 40px;
    position: relative;
}

.textproblem{
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    color: rgb(90.2%,72.9%,48.2%);
    margin-left: 7px;
    
}

.textproblem>p{
    display: inline;
    margin-left: 10px;
}

.card-title{
    font-size: 18px;
}

.inneritems{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 80px;  
}
.dropdown{
    display: inline;
    
}
.mr-4{
    margin-right: 4px;
}

.innertext{
    padding-left: 7px;
    border-left: 5px;
    background-color: rgb(206, 206, 206);
}
.second{
    position:absolute;
    margin-left: 65%;
    font-weight: bolder;
    transform: translate(0,-50%);
}
// .number>.icon{
    
// }

.nav-link.active{
    background-color: transparent !important;
    color: #001f3f;
    font-weight: 500;
    font-size: 16px;
    border-bottom: 2px solid black;
    border-radius: 0;
}
.nav-link{
    color: #708090;
    font-weight: 400;
    cursor: pointer;
}
.text-custom {
    border-left: 5px solid #4682B4;
  }
.text-custom:hover {
    
    cursor: pointer;
  }
.bord-left{
    border-left: 5px solid #CF9E57;;
}
  .first{
    color: #CF9E57;
    
    font-size: medium;
    font-weight: bold;
    margin-top: 8px;
  }
 
  .color-custom{
    color: #4682B4;
  }
.time{
    font-weight: 1000;
}

.warning-section{
    margin-top: 16px;
}
// MOVEMENT CSS
.pd-16{
    padding-bottom: 16px;
}
.pl-0{
    padding-left: 0px;
}
.pl-48{
    padding-left: 48px;
}
.mt-32{
    margin-top: 32px;
}
.pl-32{
    padding-left: 48px;
}
.pt-24{
    padding-top: 24px;
}
.pd-24{
    padding-bottom: 24px;
}
.pd-32{
    padding-bottom: 32px;
}

.dropdown{
    margin-left: 690px;
    padding-bottom: 100px;
}
.left-neg49{
    left: 0px;
    top: 7px;
}
.right{
    right: -30px;
    bottom: 20px;
}

.add-btn{
    position: fixed;
    margin-left: 93%;
    margin-top: 600px;
    z-index: 1;
    cursor: pointer;
  }
  .addd{
    position: fixed;
    margin-left: 64%;
    margin-top: 600px;
    z-index: 1;
    cursor: pointer;
  }
  .events{
    z-index: -1;
  }
  .align-dot{
    position: relative;
    top: 0;
    right: 0;
  }
  .content{
    position: relative;
  }
  .content img{
    position: absolute;
    top: 0;
    right: 0;
  }
  .content .bell{
    position: absolute;
    top: 9px;
    left: 9px;
  }

.card {
  cursor: pointer;
  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}

  