<div class="ml-48 mt-32 mr-48 mt-32">
    <div class="row">
        <div class="col-3 p-0 ">
            <span class="fw-semibold me-auto">15.11.2023</span>
        </div>
        <div class="col-9 text-end p-0">
            <button type="button" class="btn btn-outline-dark h-70 p-0 w-25"> <i
                    class="bi bi-plus-circle-fill font-white"></i> Add New</button>
            <button type="button" class="btn btn-dark h-70 p-0 w-25">Start Timer <i
                    class="bi bi-play-circle-fill ms-1"></i></button>
        </div>
    </div>
    <div class="row silver-card mt-3 rounded-1 shadow-sm">
        <div class="col">
            <div class="mt-2">
                <H3>Total Hours December</H3>
                <div class="row">
                    <div class="col-7">
                        <h4 class="d-inline fw-bold">116,30 </h4><span>/240</span>
                    </div>
                    <div class="col-4 pt-2">
                        <div class="progress h-25 bg-transparent border border-black " role="progressbar"
                            aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-dark" style="width: 50%"></div>
                        </div>
                    </div>
                    <div class="col-1">
                        <h6>46%</h6>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col fs-14 text-secondary">
                        <p>Billable Hours</p>
                    </div>
                    <div class="col text-end "> 116,30</div>
                </div>

                <div class="row">
                    <div class="col  fs-14 text-secondary">
                        <p>Non-billable Hours</p>
                    </div>
                    <div class="col text-end"> 00,00</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <ul class=" nav nav-pills">
            <li class="nav-item col-4 text-center" role="presentation">
                <a class="nav-link active text-dark fs-14" aria-current="page" data-bs-target="#all" role="tab"
                    aria-selected="true" aria-controls="all" data-bs-toggle="pill">All<sup></sup></a>
            </li>
            <li class="nav-item col-4 text-center" role="presentation">
                <a class="nav-link text-dark fs-14" data-bs-toggle="pill" role="tab" aria-controls="registered"
                    aria-selected="false" data-bs-target="#registered">Registered<sup></sup></a>
            </li>
            <li class="nav-item col-4 text-center" role="presentation">
                <a class="nav-link text-dark fs-14" data-bs-toggle="pill" role="tab" aria-controls="draft"
                    aria-selected="false" data-bs-target="#draft">Draft<sup></sup></a>
            </li>
        </ul>
    </div>

    <div class="row mt-2">
        <div class="col">
            <h4 class="d-inline fw-bold">1,3h </h4><span>/{{durationHours}},{{durationMinutes}}h</span>
        </div>
    </div>



    <div class="tab-content" style="overflow-x: hidden; padding: 10px; margin: -10px" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab" tabindex="0">
            @for (post of postsList$ | async; track post.Id) {

            @if(!hasNullValue(post)){
            <div class="card text-custom mb-2 mt-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="card-title fs-14"><b>{{post.from}} - {{post.to}}</b></h5>
                            <p class="card-text mb-0 fs-14">{{post.casenumber}} - {{post.clientname}}</p>
                            <p class="card-text fs-14">{{post.description}}</p>
                        </div>
                        <div>
                            <p class="fs-14"><b>{{post.duration}}</b></p>
                        </div>
                    </div>
                </div>
            </div>}
            @else {
            <div class="card  bord-left mt-3 mb-2">
                <div class="card-body ">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="card-title mb-0 fs-14"><b>{{post.from}} - {{post.to}}</b></h5>
                            <p class="card-text mb-0 fs-14">{{post.casenumber}} - {{post.clientname}}</p>
                            <p class="card-text first mb-0 fs-14">Missing Information</p>
                        </div>
                        <div>
                            <a class="nav-link d-inline fs-16">
                                <img src="../../../assets/images/warning.svg" alt="">
                            </a>
                            <span class="fs-14"><b>{{post.duration}}</b></span>
                        </div>
                    </div>
                </div>
            </div>
            }
            }
        </div>

        <div class="tab-pane fade" id="registered" role="tabpanel" aria-labelledby="registered-tab" tabindex="0">
            @for (post of postsList$ | async; track post.Id) {
            @if(!hasNullValue(post)){
            <div class="card text-custom mb-2 mt-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="card-title fs-14"><b>{{post.from}} - {{post.to}}</b></h5>
                            <p class="card-text mb-0 fs-14">{{post.casenumber}} - {{post.clientname}}</p>
                            <p class="card-text fs-14">{{post.description}}</p>
                        </div>
                        <div>
                            <p class="fs-14"><b>{{post.duration}}</b></p>
                        </div>
                    </div>
                </div>
            </div>
            }
            }
        </div>

        <div class="tab-pane fade" id="draft" role="tabpanel" aria-labelledby="draft-tab" tabindex="0">
            @for (post of postsList$ | async; track post.Id) {

            @if(hasNullValue(post)) {
            <div class="card  bord-left mt-3 mb-2">
                <div class="card-body " (click)="updatePost(post.id)">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="card-title mb-2 fs-14"><b>{{post.from}} - {{post.to}}</b></h5>
                            <p class="card-text mb-0 fs-14">{{post.casenumber}} - {{post.clientname}}</p>
                            <p class="card-text first mb-0 fs-14">Missing Information</p>
                        </div>
                        <div>
                            <a class="nav-link d-inline fs-16">
                                <img src="../../../assets/images/warning.svg" alt="">
                            </a>
                            <span class="fs-14"><b>{{post.duration}}</b></span>
                        </div>
                    </div>
                </div>
            </div>
            } }
        </div>
    </div>




    <!-- <div class="row mt-5">
        <div class="row">
            <div class="col-4 text-center" style="border-bottom: 3px solid black"><a
                    class="nav-link active text-dark fs-14" aria-current="page" href="#">All
                    <sup></sup></a></div>
            <div class="col-4 text-center"><a class="nav-link active text-dark fs-14" aria-current="page"
                    href="#">Registered <sup></sup></a></div>
            <div class="col-4 text-center"><a class="nav-link active text-dark fs-14" aria-current="page" href="#">Draft
                    <sup></sup></a></div>
        </div>
    </div> -->



    <!-- <hr class="w-25 h-50"> -->
    <!-- <div class="row mt-2">
        <div class="col">
            <h4 class="d-inline fw-bold">1,3h </h4><span>/{{durationHours}},{{durationMinutes}}h</span>
        </div>
    </div>

    @for (post of postsList$ | async; track post.Id){
    <div class="card text-custom mb-2 mt-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title fs-14"><b>{{post.from}} - {{post.to}}</b></h5>
                    <p class="card-text mb-0 fs-14">{{post.casenumber}} - {{post.clientname}}</p>
                    <p class="card-text fs-14">{{post.description}}</p>

                </div>
                <div>
                    <p class="fs-14"><b>{{post.duration}}</b>
                </div>
            </div>
        </div>
    </div>
    } -->
    <!-- @if(postsList$ | async as postList){
        postsList
    } -->


    <!-- 
    <div class="card text-custom mb-2">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title fs-14">12:10 - 12:58</h5>
                    <p class="card-text mb-0 fs-14">13446 - O. Jeppesen</p>
                    <p class="card-text fs-14">Court Hearing - Being present at c...</p>
                    <a class="nav-link d-inline fs-16"><img src="../../../assets/images/add.svg" alt="">
                        2
                        registrations</a>
                </div>
                <div>
                    <p class="fs-14">01:58
                </div>
            </div>
        </div>
    </div>

    <div class="card  text-custom mb-2">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title mb-0 fs-14">12:20 - 12:08</h5>
                    <p class="card-text mb-0 fs-14">13446 - O. Jeppesen</p>
                    <p class="card-text fs-14">Court Hearing - Being present at c...</p>
                </div>
                <div>
                    <p class="fs-14">02:08</p>
                </div>
            </div>
        </div>
    </div> -->
</div>

<!-- {{postsList$|async|json }} -->